<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="workspace.mapper.CoursesMapper">

    <update id="changeName">
        UPDATE t_train_courses
        set name=#{name}
        where id = #{id}
    </update>
</mapper>
